// Login Form particle
.g-loginform {
    .login-pretext {
        margin-bottom: 1rem;
    }

    fieldset.login-data {
        #login-username,#login-password {
            margin: 1rem;
        }
    }

    .login-extra {
        list-style-type: none;
        margin-left: 0;
    }
}
