.theme-switch-block {
    margin: 0px;
    .theme-colors{
        height: 35px;
        width: 35px;
        text-align: center;
        margin: 0px;
        box-shadow: 0 3px 10px 1px rgba(0,0,0,.48);
        background: transparent;
        margin-right: 10px;
    }
}
