{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    {% if particle.enabled %}
        <style>
            .embed-container {
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                max-width: 100%;
            }
            .embed-container embed,
            .embed-container iframe,
            .embed-container object {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        </style>
        {% set url = "https://www.youtube.com/embed/" ~ particle.id %}
        <div class="embed-container">
          <iframe src="{{url}}" frameborder="0" {{particle.fullscreen ? "allowfullscreen" : ""}}></iframe>
        </div>
    {% endif %}
{% endblock %}
